<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:fourallportal="http://typo3.org/ns/Crossmedia/Fourallportal/ViewHelpers">
<f:layout name="Backend"/>

<f:section name="docheader-buttons">
</f:section>

<f:section name="module-headline">
    <h2>Server Status: {server.domain}</h2>
</f:section>

<f:section name="Content">
    <f:flashMessages/>
    <f:form action="module">
        <f:form.select name="module" options="{server.modules}" optionLabelField="moduleName" />
        <f:form.textfield name="uuid" placeholder="Enter object UUID" size="40" />
        <f:form.submit value="Check data response" />
    </f:form>
    <table class="table table-striped table-hover">
        <tbody>
        <f:for each="{status}" as="statusRow">
            <tr>
                <td class="{statusRow.class} col-xs-3">{statusRow.title}</td>
                <td class="{statusRow.class} col-xs-9">{statusRow.description -> f:format.raw()}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>
</html>
