{paginate -> f:or(alternative: 1) -> f:variable(name: 'paginate')}

<f:asset.css identifier="table-4ap">
  .table-4ap>tbody>tr>td,
  .table-4ap>tbody>tr>th,
  .table-4ap>tfoot>tr>td,
  .table-4ap>tfoot>tr>th,
  .table-4ap>thead>tr>td,
  .table-4ap>thead>tr>th {
    padding: 6px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
  }
  .table-4ap>thead>tr>th{
    background-color: #EDEDED;
  }
  .table-4ap {
    border-collapse: collapse;
    border-spacing: 0px;
    background: 0 0;
    font-size: inherit;
    line-height: inherit;
  }
</f:asset.css>

<table class="table table-bordered table-striped table-4ap" style="margin-top: 12px;">
  <f:if condition="{pagination} && {paginator} && {events -> f:count()} > 1 }">
    <f:then>
      <f:render section="TableHeader"/>
      <tbody>
        <!-- Render your items listing -->
        <f:for each="{paginator.paginatedItems}" as="event" iteration="iterator">
          <f:render section="EventRow" arguments="{_all}"/>
        </f:for>
        <!-- Render your paging -->
        <f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator, actionName: 'index'}"/>
      </tbody>
    </f:then>
    <f:else>
      <f:render section="TableHeader"/>
      <tbody>
        <f:for each="{events}" as="event">
          <f:render section="EventRow" arguments="{_all}"/>
        </f:for>
      </tbody>
    </f:else>
  </f:if>
</table>

<f:section name="TableHeader">
  <thead>
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Connector</th>
    <th>Status</th>
    <th>Event Type</th>
    <th>Object ID (link to 4ALLPORTAL)</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
</f:section>

<f:section name="EventRow">
  <tr class="{f:if(condition: '{highlightEvent.uid} == {event.uid}', then: 'text-primary')}">
    <td class="col-xs-2">{event.eventId}</td>
    <td>
      <f:format.date format="H:i:s d.m.Y">{event.crdate}</f:format.date>
    </td>
    <td>
      <f:format.date format="H:i:s d.m.Y">{event.tstamp}</f:format.date>
    </td>
    <td>{event.module.connectorName}</td>
    <td>{event.status}</td>
    <td>{event.eventType}</td>
    <td><a target="_blank" href="{event.module.server.domain}?module={event.module.moduleName}&view=detail&record={event.objectId}"/>{event.objectId}</a></td>
    <td nowrap="nowrap" class="col-control" style="padding: 4px 6px;">

      <div class="btn-group" role="group">
        <f:if condition="!{deleted}">
          <f:link.action
              action="index"
              arguments="{objectId: event.objectId}"
              extensionName="Fourallportal"
              controller="Event"
              class="btn btn-default" title="Filter to show only events for this object">
                                    <span>
                                        <core:icon identifier="actions-filter"
                                                   alternativeMarkupIdentifier="inline"/>
                                    </span>
          </f:link.action>
          <f:link.action
              action="execute"
              arguments="{event: event}"
              extensionName="Fourallportal"
              controller="Event"
              class="btn btn-danger" title="Execute event">
                                    <span>
                                        <core:icon identifier="actions-play"
                                                   alternativeMarkupIdentifier="inline"/>
                                    </span>
          </f:link.action>
          <f:link.action
              action="reset"
              arguments="{event: event}"
              extensionName="Fourallportal"
              controller="Event"
              class="btn btn-default" title="Reset event">
                                    <span class="text-danger">
                                        <core:icon identifier="actions-refresh"
                                                   alternativeMarkupIdentifier="inline"/>
                                    </span>
          </f:link.action>
        </f:if>
        <f:link.action
            action="check"
            arguments="{event: event}"
            extensionName="Fourallportal"
            controller="Event"
            class="btn btn-default" title="View event details">
          <core:icon identifier="actions-document-info"
                     alternativeMarkupIdentifier="inline"/>
        </f:link.action>
      </div>

    </td>
  </tr>
</f:section>