<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:fourallportal="http://typo3.org/ns/Crossmedia/Fourallportal/ViewHelpers">
<f:layout name="Backend"/>

<f:section name="docheader-buttons">
</f:section>

<f:section name="module-headline">
    <h3>Event history, object <f:link.action action="index" arguments="{search: event.objectId, status: 'all'}">{event.objectId}</f:link.action></h3>
</f:section>

<f:section name="Content">
    <f:flashMessages/>

    <f:if condition="{deletedScheduled}">
        <f:then>
            <div class="alert alert-warning">
                <h3 class="alert-title">
                    Object will be deleted
                </h3>
                <div class="alert-body">
                    There is a pending delete event for the object. You may not be able to
                </div>
            </div>
        </f:then>
        <f:else if="{deleted}">
            <div class="alert alert-danger">
                <h3 class="alert-title">
                    Object is deleted
                </h3>
                <div class="alert-body">
                    The object has been deleted from the PIM system. You will no longer be able to query data for this object or replay previous events.
                </div>
            </div>
        </f:else>
    </f:if>

    <f:render partial="Events" arguments="{events: events, highlightEvent: event, paginate: 0, deleted: deleted}" />

    <h3>Message</h3>
    <pre>{event.message -> f:format.raw()}</pre>

    <h4>Request URL</h4>
    <pre>{event.url -> f:format.raw()}</pre>

    <h4>Request payload</h4>
    <pre>{event.payload -> f:format.raw()}</pre>

    <h4>Response headers</h4>
    <pre>{event.headers -> f:format.raw()}</pre>

    <h4>Response body</h4>
    <pre>{event.response -> f:format.raw()}</pre>
</f:section>
</html>
