{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend"/>

<f:section name="docheader-buttons"></f:section>

<f:section name="module-headline"></f:section>

<f:section name="Content">

    <f:flashMessages/>

    <div class="row-fluid">
        <f:form action="index" addQueryString="1" class="form form-inline" id="filter-form">
            <fieldset class="filter form-group pull-right">
                <label>Status: <f:form.select name="status" options="{eventStatusOptions}" value="{status}" class="form-control" additionalAttributes="{onchange: 'document.getElementById(\'filter-form\').submit();'}" /></label>
                <f:form.textfield name="search" type="search" class="filter-search form-control" placeholder="Search" value="{search}"/>
                <f:form.submit value="Show" class="btn btn-primary" />
            </fieldset>
        </f:form>
        <strong>Events, {status}: </strong> {events -> f:count()}
    </div>

    <div class="headerRow ui-helper-clearfix">
        <div class="typo3-extensionmanager-headerRowLeft">
        </div>
        <div class="typo3-extensionmanager-headerRowRight">
        </div>
    </div>

    <f:render partial="Events" arguments="{_all}" />
</f:section>
