{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend"/>

<f:section name="docheader-buttons"></f:section>

<f:section name="module-headline"></f:section>

<f:section name="Content">

    <f:flashMessages />

    <f:if condition="{modifiedEvent.uid}">
        <p>
            <f:link.action class="btn btn-info" action="check" arguments="{event: modifiedEvent.uid}">
                <core:icon identifier="actions-document-info"
                           alternativeMarkupIdentifier="inline"/>
                Check response from event "{modifiedEvent.eventId}" / {modifiedEvent.module.moduleName}:{modifiedEvent.objectId}
            </f:link.action>
        </p>
    </f:if>

    <div class="row-fluid">
        <f:form action="index" addQueryString="1" class="form form-inline" id="filter-form">
            <fieldset class="filter form-group pull-right">
                <label>
                    Status: <f:if condition="{searchWidened}"><span class="text-danger">expanded to <code>{f:if(condition: status, then: status, else: 'all')}</code>, no results found for your request!</span></f:if>
                    <f:form.select name="status" value="{status}" class="form-control" additionalAttributes="{onchange: 'document.getElementById(\'filter-form\').submit();'}">
                        <f:for each="{eventStatusOptions}" as="optionLabel" key="optionValue">
                            <f:if condition="{optionValue} === {status}">
                                <f:then>
                                    <f:form.select.option value="{optionValue}" selected="selected">{optionLabel}</f:form.select.option>
                                </f:then>
                                <f:else>
                                    <f:form.select.option value="{optionValue}">{optionLabel}</f:form.select.option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </f:form.select>
                </label>
                <f:form.textfield name="search" type="search" class="filter-search form-control" placeholder="Search" value="{search}"/>
                <f:form.submit value="Show" class="btn btn-primary" />
            </fieldset>
        </f:form>

        <f:link.action action="sync" class="btn btn-success" title="Sync, but do not execute, new events from PIM">
            <core:icon identifier="actions-refresh"
                       alternativeMarkupIdentifier="inline"/>
            Sync new events
        </f:link.action>

        <strong>Events, {status}: </strong> {events -> f:count()}
    </div>

    <div class="headerRow ui-helper-clearfix">
        <div class="typo3-extensionmanager-headerRowLeft">
        </div>
        <div class="typo3-extensionmanager-headerRowRight">
        </div>
    </div>

    <f:render partial="Events" arguments="{_all}" />
</f:section>
